body{
    background-color: #eee;
}

.notification svg{
      
    transform-origin: top center ;
}

.notification button:hover{
  background-color: #ef4444 !important;
  color: white !important;
}

/* .notification > div {
    width: 20px;
    height: 20px;
    background: #ef4444;
    border-radius: 50%;
    top: -7px;
    left: 28px;
    position: absolute;
} */
@keyframes notification {
    0%{
        transform: rotate(0) ;
    }
    50%{
        transform: rotate(8deg) ;
    }
    100%{
        transform: rotate(-8deg) ;
    }
}